@model IEnumerable<Scheduler.Models.Assignment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Upload", "Assignment", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()

    <form action="" method="post" enctype="multipart/form-data">

        <label for="file">Upload File:</label>
        <input type="file" name="file" id="file" />

        <input type="submit" />
    </form>
}

@using (Html.BeginForm())
{
    <b>
        Search: @Html.RadioButton("option", "Event Name", ViewBag.Option as string) <text>Event Name</text> @Html.RadioButton("option", "Employee Name", ViewBag.Option as string) <text>Employee Name</text>
        @Html.RadioButton("option", "Role", ViewBag.Option as string) <text>Role</text>
        @Html.RadioButton("option", "Start Time", ViewBag.Option as string) <text>Start Time</text> @Html.RadioButton("option", "Start Time", ViewBag.Option as string) <text>Start Time</text>
        @Html.TextBox("search", ViewBag.search as string)
        <input type="submit" value="Search" />
    </b>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Event Name", "Index", new { SortOrder = ViewBag.EventNameSortParm, search = ViewBag.search, option = ViewBag.option })
        </th>
        <th>
            @Html.ActionLink("Employee Name", "Index", new { SortOrder = ViewBag.FirstNameSortParm, search = ViewBag.search, option = ViewBag.option })
        </th>
        <th>
            @Html.ActionLink("Role", "Index", new { SortOrder = ViewBag.RoleSortParm, search = ViewBag.search, option = ViewBag.option })
        </th>
        <th>
            @Html.ActionLink("Start Time", "Index", new { SortOrder = ViewBag.StartTimeSortParm, search = ViewBag.search, option = ViewBag.option })
        </th>
        <th>
            @Html.ActionLink("End Name", "Index", new { SortOrder = ViewBag.EndTimeSortParm, search = ViewBag.search, option = ViewBag.option })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
