@model Scheduler.ViewModels.EventViewModel

@{
    ViewBag.Title = "Index";
}
@*github check*@
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Upload", "Event", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()

    <form action="" method="post" enctype="multipart/form-data">

        <label for="file">Upload File:</label>
        <input type="file" name="file" id="file" />

        <input type="submit" />
    </form>
}

@using (Html.BeginForm())
{
    <b>
        Search: @Html.RadioButton("option", "Name", ViewBag.Option as string) <text>Name</text> @Html.RadioButton("option", "Room", ViewBag.Option as string) <text>Room</text> @Html.RadioButton("option", "Date", ViewBag.Option as string) <text>Date</text> 
        @Html.RadioButton("option", "Start Time", ViewBag.Option as string)<text>Start Time</text> @Html.RadioButton("option", "End Time", ViewBag.Option as string)<text>End Time</text>
        @Html.TextBox("search", ViewBag.search as string)
        <input type="submit" value="Search" />
    </b>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { SortOrder = ViewBag.NameSortParm, search = ViewBag.search, option = ViewBag.option})
           
        </th>
        <th>
            @Html.ActionLink("Room", "Index", new { SortOrder = ViewBag.RoomSortParm, search = ViewBag.search, option = ViewBag.option})
            
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { SortOrder = ViewBag.DateSortParm, search = ViewBag.search, option = ViewBag.option})
            
        </th>
        <th>
            @Html.ActionLink("Start Time", "Index", new { SortOrder = ViewBag.StartTimeSortParm, search = ViewBag.search, option = ViewBag.option})
          
        </th>
        <th>
            @Html.ActionLink("End Time", "Index", new { SortOrder = ViewBag.EndTimeSortParm, search = ViewBag.search, option = ViewBag.option})

        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Events) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            <ul id="needs">
                <!-- Existing list items will be pre-added to the tags -->
                <li>Tag1</li>
                <li>Tag2</li>
            </ul>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }) |
            <a id="e_@item.ID" class="assignmentLink">Assignments</a>
        </td>
    </tr>
    <tr id="a_@item.ID" style="display:none">
        <td colspan="7">
            <table style="width:100%">
                @foreach (var assignment in item.Assignments) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => assignment.Person.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => assignment.Person.LastName)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => assignment.Role.Name)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => assignment.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => assignment.EndTime)
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
}

</table>

<script type="text/javascript">

        $(".assignmentLink").click(function() {
            var id = 'a_' + $(this).attr('id').substring(2);
            $('#' + id).toggle();
        });



    $(document).ready(function () {



    });
</script>