@model IEnumerable<Scheduler.Models.Role>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Upload", "Role", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()

    <form action="" method="post" enctype="multipart/form-data">

        <label for="file">Upload File:</label>
        <input type="file" name="file" id="file" />

        <input type="submit" />
    </form>
}

@using (Html.BeginForm())
{
    <b>
        Search:
        @Html.TextBox("search", ViewBag.search as string)
        <input type="submit" value="Search" />
    </b>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { SortOrder = ViewBag.NameSortParm, search = ViewBag.search, option = ViewBag.option })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
